.idea/
.pipeline/
build/
cdc-accelerator/build/
cdc-accelerator/deploy/
cdc-accelerator/init/
cdc-accelerator/reset/
cdc-accelerator/scripts/
cdc-accelerator/constants.js
coverage/
docs/
src/
.env
.release-it.json
cdc-accelerator.json
Jenkinsfile
sap-customer-data-cloud-accelerator.iml
sonar-project.properties
cdc-accelerator/utils/utilsConsents.js
cdc-accelerator/utils/utilsEmailTemplates.js
