<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META name="from" content="Name <noreply@YOUR-SITE.com>" />
<META name="subject" content="{{SUBJECT}}" />
<style>a.button{display:inline-block;background-color:#1371b9;border:none;border-radius:8px;color:#FFF;text-align:center;text-decoration:none;padding:8px 10px;width:200px;transition:all 0.5s;cursor:pointer;margin:5px}a.button span{cursor:pointer;display:inline-block;position:relative;transition:0.5s}body{font-family:Arial;font-size:13px;line-height:16px}div.background{background:url('https://cdns.gigya.com/site/images/email/background.png') repeat-x;width:720px;padding:13px 0;margin:0 auto}div.inner-background{background:#fff;border-radius:3px;margin:0 auto;width:693px}div.inner-pane{padding:30px 30px 29px;margin:0px auto}</style>
</head>
<body>
<div class="background"><div class="inner-background">
<div class="inner-pane">
<p>{{GREETING}} <b>$firstName</b> <b>$lastName</b>,</p>
<p>{{MESSAGE_DOUBLE_OPTIN_REQUESTED}}</p>
<p>$subscriptionList</p><p>{{CONFIRMATION}}</p> 
<a href="$confirmationURL" class="button"><span>{{ACCEPT}}</span></a>
<p>{{ERROR_EMAIL}}</p>
<p>{{INQUIRIES}} &lt;emailAddress&gt;.</p>
{{BEST_REGARDS}},
{{COMPANY}}
</div>
</div>
</body>
</html>