<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<META name="from" content="Name <noreply@YOUR-SITE.com>" />
		<META name="subject" content="Password Reset" />
    </head>
    <body style="font-family: Arial; font-size: 13px; line-height: 16px;">
        <div style="background: url('https://cdns.gigya.com/site/images/email/background.png') repeat-x; width: 720px; padding:13px 0; margin:0 auto;">
            <div style="background: #fff; border-radius: 3px; margin: 0 auto; width: 693px; ">
                <div style="padding:30px 30px 29px;margin: 0px auto;">
		            <p>Hello <b>$firstName $lastName</b>,</p>
                    <p>You have successfully changed your password.</p>
		            <p>If this was you, it's all good. If it's not, click <a href="$pwResetLink">here</a> to recover your account</p>
                </div>
            </div>
        </div>
    </body>
</html>


