/*****************************************
 * NESTLE STYLES - START
 *****************************************/

.gigya-screen,
.gigya-screen *,
.gigya-screen .gigya-label-text {
    color: #30261d;
    font-family: 'Nestle-Text-Book';
    /* font-size: 13px; */
    font-size: 16px;
}

.gigya-screen .gigya-label {
    position: relative;
}

.gigya-screen .gigya-required-display {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI0VFMDAwMCIgIGQ9Ik0wLDcuNTYybDEuMTE0LTMuNDM4YzIuNTY1LDAuOTA2LDQuNDMsMS42ODgsNS41OSwyLjM1QzYuMzk4LDMuNTUzLDYuMjM3LDEuNTQ0LDYuMjIsMC40NDdoMy41MTEgYy0wLjA1LDEuNTk3LTAuMjM0LDMuNi0wLjU1OCw2LjAwM2MxLjY2NC0wLjgzOCwzLjU2Ni0xLjYxMyw1LjcxNC0yLjMyNUwxNiw3LjU2MmMtMi4wNSwwLjY3OC00LjA2LDEuMTMxLTYuMDI4LDEuMzU2IGMwLjk4NCwwLjg1NiwyLjM3MiwyLjM4MSw0LjE2Niw0LjU3NWwtMi45MDYsMi4wNTljLTAuOTM1LTEuMjc0LTIuMDQxLTMuMDA5LTMuMzE2LTUuMjA2Yy0xLjE5NCwyLjI3NS0yLjI0NCw0LjAxMy0zLjE0Nyw1LjIwNiBsLTIuODU2LTIuMDU5YzEuODcyLTIuMzA3LDMuMjExLTMuODMyLDQuMDE3LTQuNTc1QzMuODQ5LDguNTE2LDEuODcyLDguMDYyLDAsNy41NjIiLz48L3N2Zz4K);
    background-size: 10px 7px;
    content: '';
    display: inline-block;
    vertical-align: super;
    line-height: 1;
    height: 7px;
    width: 10px;

    position: absolute;
    content: '*';
    background-image: none;
    color: #ee0000;
    top: -5px;
    margin-left: -2px;
    font-size: 25px;
}

.main-wrapper .component-paragraph-field {
    width: auto;
}

.gigya-screen-content div.gigya-screen {
    background-color: transparent;
    color: #30261d;
    border: 0;
    padding: 0;
    margin: 0 !important;
    border-radius: none;

    max-width: 800px !important;
}

.gigya-screen-content div.gigya-screen.landscape {
    width: auto;
    padding: 0;
    margin: 0;
}

/* Forgot password - back button */
.gigya-screen .gigya-composite-control.gigya-composite-control-link {
    display: inline-block;
}

.gigya-screen .gigya-layout-row {
    text-align: left;
}

.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-label,
.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-label,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label {
    padding-bottom: 2px;
}

html .gigya-screen select,
html .gigya-screen .gigya-input-password,
html .gigya-screen .gigya-input-text,
html .gigya-screen .gigya-textarea,
html .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox {
    display: inline-block;
    border: 1px solid #d1cbc5;
    font-family: 'Nestle-Text-Book';
    font-size: 13px;
    line-height: 20px;
    border-radius: 2px;
    padding: 7px;
    vertical-align: middle;
    text-decoration: none;
    height: auto;
    color: #30261d;
    box-shadow: 0 0 0 #a1978b;
    background: #ffffff;
    width: 100%;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
}

.gigya-screen select:focus,
.gigya-screen .gigya-input-password:focus,
.gigya-screen .gigya-input-text:focus,
.gigya-screen .gigya-textarea:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox:focus {
    outline: none;
    border: 1px solid #a1978b !important;
    box-shadow: 0 0 4px #a1978b;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button,
.pref-center-update-updatepassword,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend,
.gigya-screen a.gigya-button,
.gigya-screen input[type='button'],
.gigya-screen input[type='submit'] {
    appearance: none;
    display: inline-block;
    border: 1px solid !important;
    text-align: center;
    font-family: 'Nestle-Text-Book' !important;
    font-size: 14px !important;
    line-height: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 7px 1.28571em 7px !important;
    vertical-align: middle;
    text-decoration: none;
    transition: background-color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;

    background-color: #007cba !important;
    border-color: #007cba !important;
    color: #ffffff !important;

    text-transform: none;
    font-weight: 400 !important;
}

.gigya-screen .gigya-composite-control-array-widget div.gigya-array-template button:hover,
.pref-center-update-updatepassword:hover,
.pref-center-update-updatepassword:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend:hover,
.gigya-screen a.gigya-button:active,
.gigya-screen a.gigya-button:hover,
.gigya-screen input[type='button']:active,
.gigya-screen input[type='button']:hover,
.gigya-screen input[type='submit']:active,
.gigya-screen input[type='submit']:hover {
    color: #ffffff;
    background-color: #006395 !important;
    border: 1px solid #006395 !important;
}

.gigya-screen .gigya-composite-control.gigya-composite-control-header {
    font-size: 1.3em;
    font-family: 'Nestle-Text-Light';
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-weight: 200;
}

.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:link,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:visited,
.gigya-screen a,
.gigya-screen a:active,
.gigya-screen a:link,
.gigya-screen a:visited {
    border-bottom: 1px dotted;
    font-family: 'Nestle-Text-Bold';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.55rem;
    color: #007cba;
    position: relative;
    font-size: 16px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:hover,
.gigya-screen a:hover {
    color: #006395;
    text-decoration: none;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:active,
.gigya-screen a:active {
    background: rgba(0, 0, 0, 0.2);
    border-bottom-color: transparent;
}

.gigya-composite-control-link:focus,
.gigya-composite-control select:focus,
.gigya-composite-control input[type='checkbox']:focus,
.gigya-myPhoto-delete-button:focus,
.gigya-myPhoto-uploadForm input:focus,
.gigya-dummyPhoto-upload:focus {
    border: none !important;
    border-bottom: 1px dotted transparent;
    outline: none !important;
    box-shadow: none !important;
}

.hide {
    display: none !important;
}

.gigya-screen .gigya-composite-control.gigya-composite-control-link.gigya-button-link {
    display: inline-block;
    border: none;
}

.gigya-screen .gigya-error-msg-active.gigya-form-error-msg,
.gigya-screen .gigya-error-msg.gigya-error-msg-active,
.gigya-composite-control.gigya-composite-control-label #errorLabel {
    font-family: 'Nestle-Text-Book';
    font-size: 13px;
    line-height: 17px;
    display: block;
    font-style: italic;
    color: #d14124;
    /* margin: 12px 0 0; */
    padding: 0;
    width: 100%;
    float: none;
    max-width: inherit;
    padding: 0;
    margin: 0;
}

/*****************************************
  * NESTLE STYLES - END
  *****************************************/

/*****************************************
   * PREFERENCES CENTER GLOBAL IMPLEMENTATION - START
   *****************************************/

.page-header {
    display: none;
}

.region-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.block-title {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .region-header {
        height: 0;
    }
    .pref-center-lite-spacer {
        height: 0 !important;
    }
}

#block-gigyaraascustomscreenset h2.block-title {
    font-family: 'Nestle-Text-Light';
    font-size: 46px;
    line-height: 58px;
    color: #30261d;
    font-weight: normal;
    padding: 0;
    margin: 60px 0;
    text-align: left;
}

#block-gigyaraascustomscreenset h1 {
    font-family: 'Nestle-Text-Light';
    font-size: 30px;
    line-height: 38px;
    color: #30261d;
    border: 0;
    margin: 0 0 20px 0;
    text-align: left;
    padding: 0;
    font-weight: normal;
}

.pref-center-invite-btn {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0 !important;
    text-decoration: none;
    width: 100%;
    margin: 0 !important;
}

.gigya-composite-control.gigya-composite-control-link.pref-center-invite-btn:hover {
    text-decoration: none;
}

.pref-center-invite-btn > input[type='button'] {
    width: auto;
    /*float: left;*/
}

.pref-center-login-btn {
    text-align: left;
}

.pref-center-login-btn > input[type='submit'] {
    width: auto;
    padding: 0;
}

.gigya-forgotPassword {
    margin-bottom: 1em;
}

.feedback-message div {
    font-size: 13px;
    line-height: 15px;
    color: #ce0037;
    font-weight: 500;
    margin-top: -6px;
}

.pref-center-goback {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    /* text-align: center; */
}

.gigya-composite-control.gigya-composite-control-link.gigya-button-link.pref-center-goback:hover {
    text-decoration: none;
}

.registerLabel {
    width: 100%;
}

.pref-center-subscribe-link {
    margin: 1em;
}

.preferences-center h1 {
    font-size: 44px;
    font-family: 'Nestle-Text-Light';
    font-weight: 200;
    color: #60646c;
    line-height: 55px;
    border: 0;
}

.gigya-reset-password-form .gigya-composite-control input[type='submit'] {
    width: auto !important;
}

/*
 .gigya-social-login-container {
   height: 55px !important;
   margin: 15px 0;
 }
 .gigya-social-login-container .gigya-login-provider {
   margin-right: 15px !important;
   vertical-align: top;
 }
 .gigya-social-login-container .gigya-login-provider button[aria-label="Google"] {
   width: 50px !important;
   height: 50px !important;
 }
 .gigya-social-login-container .gigya-login-provider button[aria-label="Google"] div {
   width: 50px !important;
   height: 50px !important;
   background: url('http://cdn.eu1.gigya.com/gs/GetSprite.ashx?path=%2FHTMLLogin%2F%5Bgoogleplus%5D_45.png%7C45%2C45') no-repeat center #2e57c8 !important;
   border-radius: 27px;
 }
 .gigya-screen .gigya-composite-control.gigya-composite-control-social-login {
   padding: 0;
   margin-bottom: 15px;
 }*/

.block-gigya-raas a,
.block-logout-block a {
    font-weight: normal;
    width: auto;
}

@media only screen and (min-width: 768px) {
    .gigya-screen.portrait .gigya-composite-control.login-diff-acc a {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Hide-left column on login */

.gigya-layout-cell.responsive.with-divider,
.gigya-layout-cell.responsive.with-social-login {
    display: none;
}

.gigya-screen .gigya-login-form .gigya-composite-control.gigya-composite-control-label,
.gigya-screen .gigya-login-form .gigya-composite-control.gigya-composite-control-label * {
    font-size: 16px;
}
.gigya-screen .gigya-login-form .gigya-composite-control.gigya-composite-control-label,
.gigya-screen .gigya-login-form .gigya-composite-control.gigya-composite-control-link {
    padding-bottom: 0;
}

#gigya-complete-registration-screen .inline-block .gigya-label-text {
    display: initial;
}

/*****************************************
  * PREFERENCES CENTER GLOBAL IMPLEMENTATION - END
  *****************************************/

/*****************************************
  * PREFERENCES CENTER CUSTOMIZATION - START
  *****************************************/

/* Add your CSS customizations here */

/*****************************************
  * PREFERENCES CENTER CUSTOMIZATION - END
  *****************************************/
